version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: chronos_postgres
    environment:
      POSTGRES_USER: chronos
      POSTGRES_PASSWORD: chronos
      POSTGRES_DB: chronos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: chronos_redis
    ports:
      - "6379:6379"

  api:
    build: .
    command: npm run api
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    env_file:
      - .env

  worker:
    build: .
    command: npm run worker
    depends_on:
      - redis
      - postgres
    env_file:
      - .env
volumes:
  postgres_data: